<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}{{ page.title }}{% endblock title %}
    </title>
    {% block meta %}
    <meta name="description" content="test">
    {% endblock meta %}

    {% block styles %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/vendor.css">
    {% endblock %}
</head>

<body class="bg-gray-900">
    <div class="container mx-auto">
        {% block body %}
        {% block navbar %}{% include '/partials/navbar.twig' %}{% endblock navbar %}
        {% block content %}{% endblock content %}
        {% block footer %}{% include '/partials/footer.twig' %}{% endblock footer %}
        {% endblock body %}
    </div>

    {% block scripts %}
        <script src="./assets/js/global.js" />
    {% endblock scripts %}
</body> 

</html>